html, body { height: 100%; width: 100%; margin: 0; padding: 0;}

#wrapper { margin: 0 .75em;}

#bggrid {
  position: fixed;
  top:0;
  right: .75em;
  bottom:0;
  left: .75em;
  z-index: -1;
  opacity: .1;
  margin: 0;
  padding: 0;
}
#bggrid [class*="col-"] {
  border-top: none;
  padding-top: 0;
  margin-bottom: 0;
}

#bggrid .col-1 {
  background: transparent;
  height: 100%;
  margin-top: -30px;
}
#bggrid .col-1 > div {
  background: black;
  height: 100%;
}
